{
  "m0": {
    "enabled": true,
    "topic": "@svc/logs",
    "secretKey": "your-secret-key-here",
    "collectSystemMetrics": true,
    "systemMetricsInterval": 10000,
    "flushInterval": 15000,
    "baseLabels": {
      "stage": "dev"
    }
  }
}